# Claude Code .gitignore
## Folder ignore in this repository
/*

## File ignore in this repository
*.*

!/agents
!/agents/**/*.*
!/commands
!/commands/**/*.*
!/examples
!/examples/**/*.*
!/hooks
!/hooks/**/*.*
!/mcp-configs/
!/mcp-configs/**/*.*
!/plugins
!/plugins/**/README.md
!/rules
!/rules/**/*.*
!/scripts
!/scripts/**/*.*
!/skills
!/skills/**/*.*
!README.md
!CLAUDE.md
*.DS_Store
