# Claude Code .gitignore
## Folder ignore in this repository
/*
!/agents
!/commands
!/plugins
!/hooks

## File ignore in this repository
*.*
!/agents/**/*.*
!/commands/**/*.*
!/plugins/**/*.*
!/hooks/**/*.*
!/scripts
!/scripts/**/*.*
!settings.json
!README.md
!CLAUDE.md
*.DS_Store